@charset "UTF-8";

@font-face {
    font-family: 'HWYGOTH';
    src: url('fontes/HWYGOTH.TTF') format('truetype');
}

header, form{
    margin:auto;
    width: 600px;
    background-color: white;
}

header{
    padding-bottom: 40px;

}

form{
    padding-bottom: 228px;
}

body{
    background-color: lightgrey;
    margin-top: 0px;
    margin-bottom: 0px;

}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    font-family: 'HWYGOTH';
    font-weight: normal;
    text-align: center;

}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-left: 10px;

}

header > p, form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.espacamento-div{
    padding-left: 10px;
    padding-bottom: 10px;
}
